## Common Section ##

install                       # install a fresh system
reboot                        # reboot automatically
cdrom
#url --url="https://mirrors.aliyun.com/centos/7/os/x86_64/"  #  from a remote server over HTTP

keyboard --vckeymap=us               # keyboard layout
lang en_US.UTF-8                     # system language
timezone Asia/Shanghai               # system timezone

network --bootproto=dhcp --noipv6    # enable DHPC, no IPv6
selinux --disabled
firewall --disable
services --enable ssh

zerombr                              # initialize invalid partition table
clearpart --initlabel --all          # overwrite all partitions
part biosboot --fstype biosboot --size=1
part /boot --fstype ext4 --size=512
part /     --asprimary --fstype=ext4 --size=1 --grow

rootpw 123@yunion
user --name yunion --password 123@yunion --plaintext

repo --name=base --baseurl=https://mirrors.aliyun.com/centos/7/os/x86_64/
repo --name=epel-release --baseurl=https://mirrors.aliyun.com/epel/7/x86_64/
#repo --name=elrepo-kernel --baseurl=http://elrepo.org/linux/kernel/el7/x86_64/
#repo --name=elrepo-release --baseurl=http://elrepo.org/linux/elrepo/el7/x86_64/
repo --name=elrepo-extras --baseurl=http://elrepo.org/linux/extras/el7/x86_64/

%pre
clearpart --all          # overwrite all partitions
parted -s /dev/vda mklabel gpt
%end

## Package Section ##

%packages --nobase --ignoremissing --excludedocs # install minimal packages
@core --nodefaults
kernel
kernel-devel
kernel-tools-libs
kernel-tools
kernel-headers
openssh-server
ntp
rsync
curl
sudo
epel-release
yum-utils
net-tools
git
wget
vim
pcre-tools
tcpdump
# unnecessary firmware
-aic94xx-firmware
-atmel-firmware
-b43-openfwwf
-bfa-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6050-firmware
-libertas-usb8388-firmware
-ql2100-firmware
-ql2200-firmware
-ql23xx-firmware
-ql2400-firmware
-ql2500-firmware
-rt61pci-firmware
-rt73usb-firmware
-xorg-x11-drv-ati-firmware
-zd1211-firmware
-iprutils
-fprintd-pam
-intltool
%end

## Post Install Section ##
%post --log=/var/log/post-install.log
echo 'yunion ALL = NOPASSWD: ALL' > /etc/sudoers.d/yunion

cat <<EOF >/etc/yum.repos.d/yunion.repo
[yunion]
name=Packages for Yunion Multi-Cloud Platform - $basearch
baseurl=https://iso.yunion.cn/yumrepo-2.8
sslverify=0
failovermethod=priority
enabled=1
gpgcheck=0
EOF

systemctl disable firewalld
systemctl enable ntpd

%end
